# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo
node_modules
node_modules/
dist/
paquete_validador.egg-info/

# Ignorar entornos virtuales
venv/
env/

# Ignorar configuraciones de IDEs
.vscode/
.idea/

# Ignorar archivos de logs y base de datos local
logs/
*.log
db.sqlite3
