# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Ignorar entornos virtuales
venv/
env/

# Ignorar configuraciones de IDEs
.vscode/
.idea/

# Ignorar archivos de logs y base de datos local
logs/
*.log
db.sqlite3
